<table class="table table-striped table-light mb-0">
    <thead class="table-secondary">
        <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Adresse IP</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for mecanisme in salle.mecanismes %}
            <tr>
                <td scope="row">{{ mecanisme.numero }}</td>
                <td scope="row">{{ mecanisme.nom }}</td>
                <td scope="row">{{ mecanisme.Description }}</td>
                <td scope="row">{{ mecanisme.Ip}}</td>
                <td scope="row">
                    <a href="{{ path('app_mecanisme_show', {'id': mecanisme.id}) }}" class="btn btn-success">
                        Gérer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"  scope="row">Aucun mécanisme n'est enregistré dans cette salle</td>
            </tr>
        {% endfor %}            
    </tbody>
</table>