{% extends 'base.html.twig' %}

{% block title %}Mecanisme{% endblock %}

{% block body %}
    <h1>Mecanisme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mecanisme.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ mecanisme.nom }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ mecanisme.numero }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ mecanisme.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mecanisme_index') }}">back to list</a>

    <a href="{{ path('app_mecanisme_edit', {'id': mecanisme.id}) }}">edit</a>

    {{ include('mecanisme/_delete_form.html.twig') }}
{% endblock %}
