{% extends 'base.html.twig' %}

{% block title %}Mecanisme{% endblock %}

{% block body %}
    <div>
        <nav class="navbar text-bg-dark bg-dark p-2">
            <div class="">
                <a href="{{ path('app_admin_salle_show', {'id': mecanisme.salle.id}) }}" class="btn btn-success">
                    {{ mecanisme.salle.nom }} 
                </a>    
            </div>                

            <div class="fs-5 fw-bold" >
                Mécanisme n°{{ mecanisme.numero }} : 
                <span class="mecanisme">{{ mecanisme.nom }}</span>
            </div>

            <div class="" style="display: flex;">
                <a href="{{ path('app_mecanisme_edit', {'id': mecanisme.id}) }}" class="btn btn-primary m-2">
                    <span class="fas fa-edit" aria-hidden="true"></span>
                </a>

                <a href="{{ path('app_mecanisme_delete_verification', {'id': mecanisme.id}) }}" class="btn btn-danger m-2">
                    <span class="fas fa-trash" aria-hidden="true"></span>
                </a>
            </div>
        </nav>

        <div class="container mt-4">
            <div class="row">
                <div class="col-1"></div>

                <div class="col-10">
                    <div class="card ">
                        <div class="card-header text-bg-dark">
                            Description
                        </div>
                        <div class="card-body">
                            <span class="fst-italic">
                                {{ mecanisme.Description }}
                            </span>
                        </div>        
                    </div> 

                    <div class="card mt-2">
                        <div class="card-header text-bg-dark">
                            Paramètres
                        </div>
                        <div class="card-body">
                            <div > 
                                <span class="fw-bold">Adresse IP : </span> 
                                {{ mecanisme.ip }}   
                            </div> 
                        </div>        
                    </div>

                    <div class="card mt-2">
                        <div class="card-header text-bg-dark">
                            Variables de contrôle
                        </div>
                        <div class="card-body p-0">
                            {{ include('variable_de_controle/index.html.twig', {'variable_de_controles': mecanisme.variables}) }}
                        </div>  
                        <div class="card-footer">
                            <a href="{{ path('app_variable_de_controle_new', {'id': mecanisme.id} ) }}" class="btn btn-primary">
                                <span class="fas fa-plus-circle" aria-hidden="true"></span>
                                Ajouter une variable de contrôle
                            </a>
                        </div>   
                    </div>  
                </div>

                <div class="col-1"></div>                
            </div>
        </div>
    </div>
{% endblock %}
