<nav class="navbar text-bg-dark bg-dark p-2">
    <div class="">
        <a href="{{ path('app_admin_salle_index') }}" class="btn btn-secondary disabled">
            Liste des salles
        </a>    
    </div>                

    <div class="fs-5 fw-bold" >
        Salle n°{{ salle.numero }} : 
        <span class="salle">{{ salle.nom }}</span>
    </div>

    <div class="" style="display: flex;">
        <a href="{{ path('app_admin_salle_edit', {'id': salle.id}) }}" class="btn btn-secondary disabled m-2">
            <span class="fas fa-edit" aria-hidden="true"></span>
        </a>

        <a href="{{ path('app_admin_salle_delete_verification', {'id': salle.id}) }}" class="btn btn-secondary disabled m-2">
            <span class="fas fa-trash" aria-hidden="true"></span>
        </a>
    </div>
</nav>
