{% extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}
    <div>
        <nav class="navbar text-bg-dark bg-dark p-2">
            <div class="">
                <a href="{{ path('app_admin_salle_index') }}" class="btn btn-success">
                    <span class="fas fa-chevron-up" aria-hidden="true"></span>
                    Liste des salles
                </a>    
            </div>                

            <div class="fs-5 fw-bold" >
                Salle n°{{ salle.numero }} : 
                <span class="salle">{{ salle.nom }}</span>
            </div>

            <div class="" style="display: flex;">
                <a href="{{ path('app_admin_salle_edit', {'id': salle.id}) }}" class="btn btn-primary m-2">
                    <span class="fas fa-edit" aria-hidden="true"></span>
                </a>
                    
                <a href="{{ path('app_admin_salle_delete_verification', {'id': salle.id}) }}" class="btn btn-danger m-2">
                    <span class="fas fa-trash" aria-hidden="true"></span>
                </a>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-1"></div>

                <div class="col-10">
                    <div class="mt-2">
                        <span class="fw-bold"> Description : </span>
                        <span class="fst-italic">
                            {{ salle.Description }}
                        </span>
                    </div>

                    {{ include('mecanisme/index.html.twig', {'mecanismes': salle.mecanismes}) }}

                    <div>
                        <a href="{{ path('app_mecanisme_new', {'id': salle.id} ) }}" class="btn btn-primary">
                            <span class="fas fa-plus-circle" aria-hidden="true"></span>
                            Ajouter un mécanisme
                        </a>
                    </div>                
                </div>

                <div class="col-1"></div>                
            </div>
        </div>
    </div>
{% endblock %}
