<h2 class="mt-4">
    Liste des variables de contrôle
</h2>

<table class="table table-striped table-light">
    <thead class="table-dark">
        <tr>
            <th>Numéro</th>
            <th>Nom</th>
            <th>Booléen</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for variable_de_controle in variable_de_controles %}
            <tr>
                <td scope="row">{{ variable_de_controle.numero }}</td>
                <td scope="row">{{ variable_de_controle.nom }}</td>
                <td scope="row">{{ variable_de_controle.estBooleen ? 'Oui' : 'Non' }}</td>
                <td scope="row">
                    <a href="{{ path('app_variable_de_controle_edit', {'id': variable_de_controle.id}) }}" class="btn btn-primary">
                        <span class="fas fa-edit" aria-hidden="true"></span>
                    </a>
                    <a href="{{ path('app_variable_de_controle_delete_verification', {'id': variable_de_controle.id}) }}" class="btn btn-danger">
                        <span class="fas fa-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune variable de contrôle n'est enregistrée dans ce mécanisme</td>
            </tr>
        {% endfor %}
    </tbody>
</table>