{% extends 'base.html.twig' %}

{% block title %}Nouveau Mécanisme{% endblock %}

{% block body %}
    {{ include('admin/salle/_nav_salle.html.twig') }}

    <div class="container mt-4">
        <div class="row">
            <div class="col-1"></div>

            <div class="col-10">
                <div class="card">
                    <div class="card-header text-bg-primary">Nouveau mécanisme</div>
                    <div class="card-body">
                        {{ form_start(form) }} 
                        {{ include('admin/mecanisme/_form.html.twig') }}

                        <div>
                            <div class="row justify-content-start custom-line m-2"> 
                                <div class="col-4"></div> 
                                <div class="col-8">
                                    <button class="btn btn-success">Ajouter</button>
                                    <a href="{{ path('app_admin_salle_show', {'id': mecanisme.salle.id}) }}" class="btn  btn-secondary">
                                        Annuler
                                    </a>
                                </div>   
                            </div>    
                        </div>   
                        {{ form_end(form) }} 
                    </div>        
                </div>  
            </div>

            <div class="col-1"></div>                
        </div>
    </div>
{% endblock %}
