{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <table class="table table-striped table-light">
        <thead class="table-dark">
            <tr>
                <th scope="col"  colspan="4" class="fs-5 fw-bold text-center">
                    Liste des utilisateurs
                </th>                
            </tr>
            <tr>
                <th>Identifiant</th>
                <th>Rôles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_utilisateur_show', {'id': utilisateur.id}) }}" class="btn btn-success">
                        <span class="fas fa-info-circle" aria-hidden="true"></span>
                    </a>
                    <a href="{{ path('app_admin_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-primary">
                        <span class="fas fa-edit" aria-hidden="true"></span>
                    </a>
                        
                    {% if not utilisateur.estAdmin() %}
                        <a href="{{ path('app_admin_utilisateur_delete', {'id': utilisateur.id}) }}" class="btn btn-danger">
                            <span class="fas fa-trash" aria-hidden="true"></span>
                        </a>
                    {% endif%}
                        
                        
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_utilisateur_new') }}" class="btn btn-primary">
        <span class="fas fa-plus-circle" aria-hidden="true"></span>
        Ajouter un nouvel utilisateur
    </a>
{% endblock %}
