<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar bg-light">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <div>
                    Escape Game CIEL
                </div>
            </a>

            <div class="m-2">
                {% if app.user %}
                    {{ app.user.username }} 
                    <a href="{{ path('app_admin_utilisateur_edit', {'id': app.user.id}) }}" class="btn btn-sm btn-primary">
                        <span class="fas fa-user-edit" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">
                        <span class="fas fa-sign-out-alt" aria-hidden="true"></span>
                    </a>
                {% else %}
                    <a class="btn btn-sm btn-success" href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}
            </div>
        </nav>
            
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('admin/_adminNavBar.html.twig') }}
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            {{ include('supervision/_superviseurNavBar.html.twig') }}
        {% endif %}


        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <div class="container mt-4">
            <div class="row">
                <div class="col-1"></div>

                <div class="col-10">
                    {% block body %}
                    {% endblock %}   
                </div>

                <div class="col-1"></div>                
            </div>
        </div>


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
